* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,html {
    background: #f8f0d9;
    scroll-behavior: smooth; 
}

a{
    text-decoration: none;
}

@media screen and (min-width: 500px) {
    .container-title{
        position: absolute;
        top: 50%;
        left: -21%;
        text-align: left!important;
    }

    .container-title .title-hero{
        align-items: end!important;
        text-align: left!important;
    }
}

.container-title{
    max-width: 1440px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}


.container-title .title-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 200px;
}  


.container-title .title-hero h3{
    color: #3D405B;
    font-size: max(20px,2.3vw);
}

.container-title .title-hero a{
    background: #81B29A;
    height: 95px;
    width: 360px;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 15px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s linear;
}

.container-title .title-hero a:hover {
    transform: scale(105%);
    background-color: #3D405B;
    font-weight: 600;
}


.container {
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.App {
    height: auto;
    width: 100%;
    overflow: hidden;
    background: #f7e6c8;
}

/* terminando global */

.hero {
    display: flex;
    width: 100%;
    height: 90vh;
    background: url('../img/banner_urso_desktop.jpg') no-repeat center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    padding: 20px;
}



/* hero termina aqui */

.tarja-MEC {
    display: flex;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.tarja-MEC img {
    height: 140px;
}

.tarja-MEC span {
    font-size: 18px;
    margin-left: 20px;
    color: #3D405B;
}

#sobre {
    width: 100%;
    background: url('../img/banner_uni_desktop.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.title-selecao {
    width: 45%;
}

.title-selecao h3 {
    margin-bottom: 35px;
    color: #F2CC8F;
    font-size: 30px;
}

.title-selecao p {
    margin: 25px 0;
    color: #F4F1DE;
    font-size: 20px;
    text-align: justify;
}

.btn-selecao {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#81B29A;
    height: 105px;
    width:590px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 22px;
    margin-top: 50px;
    transition: .2s linear;
}

.btn-selecao:hover {
    background-color:#F2CC8F;
    color: #3D405B;
    transform: scale(105%);
    font-weight: 600;

}

/* seleção termina aqui */

.main {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 10px 0px;
    color: #3D405B;

}

.main h4 {
    font-size: 23px;
    font-weight: normal;
    margin-bottom: 50px;
}

.main .main-box {
    width: auto;
    height: 300px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1rem;
}

.main .main-box > div {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .main-box > div img {
    width: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.main .main-box > div span {
    width: 64%;
    text-align: center;
}


/* beneficios termina aqui */


/*************************************** RESPONSIVO ***************************************/
@media screen and (max-width: 1200px) {
    .container-title .title-hero a{
        height: 60px;
        width: 200px;
        margin-top: 30px;
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    .main .main-box {
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 1rem;
    }

    .title-selecao {
        width: auto;  
    }

    .btn-selecao {
        
        height: 80px;
        width: 452px;
        font-size: 16px;
    }
}

@media screen and (max-width:500px){
    .hero {
        align-items: flex-end; 
        background-position: 75%;
    }

    .container {
    
        justify-content:center;
    
    }
    
    .tarja-MEC {
        flex-direction: column;
    }

    .tarja-MEC img {
        width: 50%;
        height: 1%;
    }

    .main .main-box {
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 1rem;
    }

    .main h4 {
        font-size: 16px;
    }

    .title-selecao h3 {
        font-size: 20px;
    }

    .title-selecao p {
        font-size: 16px;
    }

    .btn-selecao {
        width: auto;
    }
}

@media screen and (max-width:400px){
   
    .main .main-box {
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: auto;
        grid-gap: 1rem;
    }
    .main h4 {
        text-align: center;
    }
    .main .main-box > div {
       height:200px;
    }
    
}