li{
    list-style: none;
}

.selecao-idade {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:url('../img/banner_3.jpg')no-repeat center;
}

.title-selecao-livros {
    height: 100%;
    width: 1440px;
    color: #3D405B;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 41px;
}

.title-selecao-livros h2 {
    width: 400px;
}

.container-filter{
    display: flex;
    width: 100%;
    height: 180px;
    background: rgb(255, 255, 255);
    align-items: flex-start;
    justify-content: center;
    padding-top: 50px;
}

.container-filter button{
    margin: 0 20px;
    background: none;
    border: none;
    cursor: pointer;
    transition: .2s ease;
    position: relative;
    height: 30px;
    font-weight: 600;
    color: #3D405B;
}

.container-filter button::before{
    content: '';
    width: 50%;
    height: 20px;
    background: #f8f0d9;
    border-radius: 4px;
    position: absolute;
    bottom: 5px;
    right: 0;
    color: #fff;
    transition: 1s linear;
    mix-blend-mode: multiply;
}

.container-filter button:hover::before{
    width: 100%;
}

.container-filter button:hover{
    color: #81B29A;
}

.group-item{
    width: 100%;
    height: auto;
    background: #fff;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-bottom: 25px;
    grid-gap: 3rem;
}

.group-item .item{
    width: 200px;
    text-align: center;
    margin: 0 auto;
    height: 50%;
}

.group-item .item img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.group-item .item h2{
    font-size:16px;
}

.group-item .item p{
    max-width: 25ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}

.group-item .item .btn-group-item{
    padding:10px;
    background:#81B29A;
    border: none;
    color:#fff;
    font-size:10px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    width: 115px;
}

.group-item .item .btn-group-item:hover{
    opacity: 0.8;
}

.group-item .item .title-group-item{
    height: 136px;
    position: absolute;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/******************************************* RESPONSIVIDADE ****************************************** */



@media screen and (max-width:946px){
    .group-item{
        grid-template-columns: repeat(3, 1fr);
    }

    .selecao-idade {
        background-position-x: 73%;
    }
}

@media screen and (max-width:700px){
    .group-item{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .title-selecao-livros h2 {
        width: auto;
        text-shadow: 2px 2px #ffffff57;
    }

    .container-filter button {
    
        font-size: 16px;
    }
}

@media screen and (max-width:500px){
    .container-filter {
        padding-top: 0px;
        align-items: center;
        flex-direction: column;
        height: 300px;
    }

    .container-filter button {
        margin: 4px 0;
    }

    .title-selecao-livros {
        align-items: flex-end;
        padding: 10px 30px;
        text-align: center;
    }

    .selecao-idade {
        background: url('../img/banner_3_mob.jpg')no-repeat center;
        height:600px;
        
    }
    
}

@media screen and (max-width:451px){
    .group-item{
        grid-template-columns: repeat(1, 1fr);
    }
    

}