.filtro-btn {
    height: 150px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtro-btn button {
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    color: #3D405B;
    background: #F2CC8F;
    margin: 0 30px;
}
