.contato {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #3D405B;
    /* font-family: 'Poppins', sans-serif; */
    color: #F4F1DE;
        
}

.contato .description-contato {
   width: 40%;
   
}

.contato .description-contato > p {
    margin-top: 10px;
    margin-bottom: 35px;
    width: 72%;
    text-align: justify;
}

.contato .formulario {
    background-color: #FFFFFF;
    width: 400px;
    height: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px;
    border-radius: 20px;
    color: #000000;
    margin-left: 80px;
}

.contato .formulario form {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    align-items: center;
}

.contato .formulario form input{
    outline: 0;
    border: 2px solid #A8A8A8;
    background: #FFFFFF;
    margin-bottom: 10px;
    padding: 0 20px;
    height: 40px;
    width: 280px;    
    color: #000000;
}

.contato .formulario form input::placeholder {
    color: #000000;
}

.contato .formulario form button {
    width: 80%;
    height: 40px;
    background: #E07A5F;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.contato .formulario form button:hover {
    opacity: 0.8;
}