header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    padding: 60px 0;
    background: #ffffff;

}

header .logo {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo img {
    width: 100%;
    height: 100%;
}

header ul {
    display: flex;
}

header ul li {
    margin: 0 10px;
    list-style: none;
    padding: 10px;
}

/* header ul li:hover {
    transform: scale(110%);
} */

/* header ul li:hover, a:hover {
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
    transform: scale(120%);
} */

header ul li a {
    text-decoration: none;
    color: #3D405B;
    /* font-family: 'Poppins', sans-serif; */
    font-size: 18px;
    font-weight: 500;
    transition: .2s linear;
}

header ul li a:hover {
    color: #81B29A;
    font-weight: 600;
}