.pagination{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height: 220px;
    background: #fff;
}

.pagination li{
    margin: 0 10px;

}

.pagination li button{
    background:none;
    border:none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.pagination__item--active{
    background: #3D405B !important;
    border-radius: 50px;
    border: none;
    padding: 7px 15px;
    color: #fff;
}

.pagination__item--active:focus{
    background:#3D405B;
}

/******************************************* RESPONSIVIDADE ****************************************** */


@media screen and (max-width:450px){
    .pagination li{
        margin: 0 auto;
    }

    
}