/* #81B29A
#F2CC8F;
#3D405B; */

.container-modal {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 5;
    background: #00000008;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-modal .modal {
    background: #fff;
    display: flex;
    height: 500px;
    width: 900px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.container-modal .modal .title-modal{
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.container-modal .modal .title-modal h2{
    color: #81B29A;
    margin-bottom: 10px;
}
.container-modal .modal .title-modal p{
    margin: 10px 0;
}
.container-modal .modal .img-livro {
    height: 100%;
    width: 40%;
    margin-right: 20px;
}

.container-modal .modal img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.container-modal .modal  .btn-modal-close{
    position: absolute;
    right: 8px;
    top: 0;
    padding: 4px 11px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.84);
    border-radius: 50%;
}

.container-modal .modal  .btn-modal-close:hover{
    background-color: rgba(0, 0, 0, 0.57);
}



/**************************************** RESPONSIVO ****************************************/


@media screen and (max-width:766px){
    .container-modal .modal .title-modal{
       overflow:scroll;
       padding: 20px 50px
    }

}


@media screen and (max-width:500px){
    .container-modal .modal {
        overflow: auto;
        flex-direction: column-reverse;
    }

    .container-modal .modal .img-livro {
        overflow: hidden;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
    }

}