* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(48, 187, 106);
    color: #fff; 
}

.container {
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.App {
    height: auto;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    flex-direction: column;
    /* padding: 0 20px; */
    align-items: center;
}

/* terminando global */

header {
    height: 80px;
    width: 100%;
    background: rgb(255, 255, 255);
    color: #111;
    display: flex;
    align-items: center;
    justify-content: center;

}

header .logo {
    width: 100px;
    height: 40px;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul {
    display: flex;
}

header ul li {
    margin: 0 10px;
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: rgb(121, 119, 119);
}

/* Aqui termina o header */

.hero {
    display: flex;
    width: 100%;
    background: rgb(84, 84, 201);
    align-items: center;
    justify-content: center;
}

.hero .image-hero {
    width: 50%;
    padding: 50px 0;
}

.hero .image-hero img {
    width: 100%;
    max-width: 400px;
    
}

.hero .title {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero .title .btn-hero {
    background: black;
    text-decoration: none;
    color: white;
    padding: 10px 65px;
    margin-top: 10px;
}

/* hero termina aqui */

.tarja-MEC {
    display: flex;
    width: 100%;
    height: 150px;
    background: rgb(204, 88, 165);
    align-items: center;
    justify-content: center;
}

.tarja-MEC img {
    border-radius: 50%;
    height: 100px;
}

.tarja-MEC span {
    margin-left: 20px;
    font-size: clamp(1em, 1em + 1vw, 1.5em);
    width: 500px;
}

/* tarja-MEC termina aqui */

.img-selecao {
    width: 50%;

}

.img-selecao img {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    display: flex;
}

#sobre {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.title-selecao {
    width: 50%;
}

.title-selecao h3 {
    margin-bottom: 10px;
}

.title-selecao p {
    margin: 10px 0;
}

.btn-selecao {
    display: block;
    padding: 10px;
    background-color:#111;
    width:330px;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

/* seleção termina aqui */

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #111;
    padding: 10px 0px;
}

.main .main-box {
    width: 1440px;
    height: 200px;
    background-color: rgb(146, 20, 20);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .main-box .square {
    width: 150px;
    height: 100px;
    position: relative;
    background-color: rgb(111, 19, 177);
    margin: 5px;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    text-align: center;
}

.main .main-box .square .circle {
    background-color: rgb(29, 181, 29);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    top: -40px;
    /* left: 35px; */
}

.square span {
    position: absolute;
    bottom: 30%;
}

/* beneficios termina aqui */

.contato {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
        
}

.contato .description-contato {
   margin-right: 35px;
}

.contato .formulario {
    margin-left: 35px;
    background-color: rgb(211, 0, 116);
    width: 300px;
    height: 200px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.contato .formulario form {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    align-items: center;
}

.contato .formulario form input{
    outline: 0;
    border: 1px solid #fff;
    margin-bottom: 10px;
    padding: 10px 40px;
    background: none; 
    color: #111;
}

.contato .formulario form button{
    width: 80%;
    height: 40px;
    background: #111;
    border: none;
    border-radius: 5px;
    color: #fff;
}