/* font-family: 'Indie Flower', cursive; /*chaloops*/

/*font-family: 'Poppins', sans-serif;

font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(48, 187, 106);
}

.container {
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.App {
    height: auto;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* terminando global */

header {
    height: 80px;
    width: 100%;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 60px 0;

}

header .logo {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo img {
    width: 100%;
    height: 100%;
}

header ul {
    display: flex;
}

header ul li {
    margin: 0 10px;
    list-style: none;
    padding: 10px;
}

header ul li a {
    text-decoration: none;
    color: #3D405B;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    transition: .2s linear;
}

header ul li a:hover {
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    font-weight: 900;
}

/* Aqui termina o header */

.hero {
    display: flex;
    width: 100%;
    height: 90vh;
    background: url('../img/banner_urso_desktop.jpg') no-repeat center;
    background-size: cover;
    align-items: center;
    justify-content: center;

}

.hero .title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    color: #3D405B;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 400;
}

.hero .title .btn-hero {
    background: #81B29A;
    height: 95px;
    width: 360px;
    text-decoration: none;
    color: white;
    margin-top: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s linear;
}

.hero .title .btn-hero:hover {
    transform: scale(105%);
    background-color: #3D405B;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    font-weight: 600;

}

/* hero termina aqui */

.tarja-MEC {
    display: flex;
    width: 100%;
    height: 180px;
    background: #FFFFFF;
    align-items: center;
    justify-content: center;
}

.tarja-MEC img {
    height: 140px;
}

.tarja-MEC span {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-left: 20px;
    color: #3D405B;
}


#sobre {
    width: 100%;
    height: 85vh;
    background: url('../img/banner_uni_desktop.jpg') no-repeat center;
    background-size: cover;
    background-position: bottom center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.title-selecao {
    width: 45%;
    font-family: 'Poppins', sans-serif;
}

.title-selecao h3 {
    margin-bottom: 35px;
    color: #F2CC8F;
    font-size: 30px;
}

.title-selecao p {
    margin: 25px 0;
    color: #F4F1DE;
    font-size: 20px;
    text-align: justify;
}

.btn-selecao {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#81B29A;
    height: 105px;
    width:590px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 22px;
    margin-top: 50px;
    transition: .2s linear;
}

.btn-selecao:hover {
    background-color:#F2CC8F;
    color: #3D405B;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    font-weight: 600;
    transform: scale(105%);

}

/* seleção termina aqui */

.main {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 10px 0px;
    font-family: 'Poppins', sans-serif;
    color: #3D405B;

}

.main h4 {
    font-size: 23px;
    font-weight: normal;
    margin-bottom: 50px;
}

.main .main-box {
    width: 1440px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.main .main-box > div {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .main-box > div img {
    width: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.main .main-box > div span {
    width: 50%;
    text-align: center;
}


/* beneficios termina aqui */

.contato {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #3D405B;
    font-family: 'Poppins', sans-serif;
    color: #F4F1DE;
        
}

.contato .description-contato {
   width: 40%;
   
}

.contato .description-contato > p {
    margin-top: 10px;
    margin-bottom: 35px;
    width: 72%;
    text-align: justify;
}

.contato .formulario {
    background-color: #FFFFFF;
    width: 400px;
    height: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px;
    border-radius: 20px;
    color: #000000;
    margin-left: 80px;
}

.contato .formulario form {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    align-items: center;
}

.contato .formulario form input{
    outline: 0;
    border: 2px solid #A8A8A8;
    background: #FFFFFF;
    margin-bottom: 10px;
    padding: 0 20px;
    height: 40px;
    width: 280px;    
    color: #000000;
}

.contato .formulario form input::placeholder {
    color: #000000;
}

.contato .formulario form button {
    width: 80%;
    height: 40px;
    background: #E07A5F;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.contato .formulario form button:hover {
    opacity: 0.8;
}